body {
  height: 1000px;
}

.green {
  text-align: center;
  font-family: helvetica;
  color: white;
  background-color: green;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms ease 250ms,
              color 500ms ease 250ms;
}

.aqua {
  background-color: aqua;
  color: black;
  transition: background-color 500ms ease 250ms,
              color 500ms ease 250ms;
}